
= form_tag [:refund, @order, @payment], :class => 'refundForm' do
  %h2= t('.issue_refund')
  %p.intro
    #{t('.to_issue_a_refund')} <b>#{number_to_currency @payment.refundable_amount}</b>.
  
  .moneyInput
    .currency= Shoppe.settings.currency_unit.html_safe
    = text_field_tag t('.amount'), @payment.refundable_amount, :class => 'text'
  %p.submit
    = submit_tag t('.refund'), :class => 'button green'
    = link_to t('.close'), '#', :class => 'button grey', :rel => 'closeDialog'
    