- unless @payments.empty?
  .table
    %table.data
      %thead
        %tr
          %th= t('.id')
          %th= t('.type')
          %th= t('.method')
          %th= t('.reference')
          %th= t('.amount')
          %th= t('.refunded')
          %th
      %tbody
        - for payment in @payments
          %tr
            %td= payment.id
            %td
              = payment.refund? ? t('.refund') : t('.payment')
              %span.float-right= boolean_tag payment.confirmed?
            %td= payment.method
            %td= link_to_if payment.transaction_url, payment.reference, payment.transaction_url
            
            - if payment.refund?
              %td{:colspan => 2}
                %b= number_to_currency payment.amount
                - if payment.parent_payment_id
                  #{t('.from_payment')} #{payment.parent_payment_id}
            - else
              %td= number_to_currency payment.amount
              %td= boolean_tag payment.refunded?, nil, :true_text => number_to_currency(payment.amount_refunded)
            %td.refund
              - if payment.refundable?
                = link_to t('.refund'), [:refund, @order, payment], :class => 'button purple button-mini', :rel => 'dialog'
              - else
                = link_to t('.delete'), [@order, payment], :class => 'button purple button-mini', :data => {:confirm => t('.are_you_sure')}, :method => :delete
- else
  %p.notice= t('.there_are_no_payments')
