.status-bar
  %ul
    - if @order.received?
      %li.received
        %h4= t('.order_received')
        %p on #{@order.received_at.to_s(:short)} from #{@order.ip_address}

    - if @order.accepted?
      %li.accepted
        %h4= t('.order_accepted')
        %p
          on #{@order.accepted_at.to_s(:short)}
          - if @order.accepter
            #{t('.by')} #{@order.accepter.short_name}

    - elsif @order.rejected?
      %li.rejected
        %h4= t('.order_rejected')
        %p
          on #{@order.rejected_at.to_s(:short)}
          - if @order.rejecter
            by #{@order.rejecter.short_name}

    - if @order.shipped?
      %li.shipped
        %h4= t('.order_shipped')
        %p on #{@order.shipped_at.to_s(:short)} by #{@order.shipper.try(:short_name) || t('.unknown')}
        - if @order.delivery_service && @order.courier_tracking_url
          %p= link_to t('.tracking_url'), @order.courier_tracking_url
        - else
          %p #{t('.consignment')} <b>#{@order.consignment_number}</b>
