- @page_title = t('.edit_order') + @order.number

= content_for :header do
  %p.buttons
    = link_to t('.back_to_order'), @order, :class => 'button grey'
  %h2.orders #{t('.edit_order')} <b>#{@order.number}</b>

= form_for @order, :html => {:class => 'orderForm'} do |f|
  = f.error_messages
  = render 'form', :f => f
  
  = field_set_tag t('.notes') do
    %dl
      %dd= f.text_area :notes, :class => 'text'

  = field_set_tag t('.ordered_products'), :class => 'padded' do
    = render 'order_items_form', :f => f

  %p.submit
    = f.submit t('.save_order'), :class => 'button green'
    = link_to t('.cancel'), @order, :class => 'button'