- @page_title = t('.order') + @order.number

= content_for :header do
  %p.buttons
    = link_to t('.edit'), [:edit, @order], :class => 'button'
    - if @order.accepted?
      = link_to t('.despatch_note'), [:despatch_note, @order], :class => 'button', :rel => 'print'
    = link_to t('.back_to_orders'), :orders, :class => 'button grey'
  %h2.orders #{t('.order')} <b>#{@order.number}</b>

#order

  - if @order.received?
    = render 'order_details'
    = render 'status_bar'
  - else
    %p.warning= t('.warning')


  = field_set_tag t('.order_items'), :class => 'padded' do
    = render 'order_items'
  
  - if @order.received?
    = field_set_tag t('.payments'), :class => 'padded orderPayments' do
      = render 'payments_table'
      = render 'payments_form'
