= form_for @gallery_category do |f|
  = f.error_messages
  = field_set_tag 'Category Details' do
    .splitContainer
      %dl.half
        %dt= f.label :name
        %dd= f.text_field :name, :class => 'focus text'
      %dl.half
        %dt= f.label :title
        %dd= f.text_field :title, :class => 'text'
    %dl
      %dt= f.label :description
      %dd= f.text_area :description, :class => 'text'
  = field_set_tag "Attachments" do

    %dl
      %dt= f.label :image, "Image"
      %dd
        = image_tag @gallery_category.image.url(:thumb)
        %p= f.file_field :image

  %p.submit
    - unless @gallery_category.new_record?
      %span.right= link_to "Delete", @gallery_category, :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this category?"}
    = f.submit :class => 'button green'
    = link_to "Cancel", :gallery_categories, :class => 'button'
